<div class="rr">
  <div class="il">
    <input id="input" />
    <img id="img1"  src="assets/SM/mail4.png" alt="mail" />
  </div>
  
  <div class="f1">
    <p>copright &copy; 2014 two bytes consulting .<b>Terms & Policiies.</b></p>
  </div>
  <div id="Hello">
    
    <a href="https://www.twitter.com" target="_blank">
      <img id="t" src="assets/SM/2959740_tweet_news_bird_twitter.png" />
    </a>
    <a href="https://www.instagram.com" target="_blank">
      <img src="assets/SM/2959748_photo_share_instagram.png" />
    </a>
  </div>
</div>
