<!--
<hr color="aqua" style="width:85px;" />
 -->
<div class="header1">
  <div id="Demo" style="color:white">
    Demo App
  </div>
  <div class="menu">
    <a id="box1" [routerLink]="['home']">
      <nav style="color:white"> Home </nav>
    </a>
    <a [routerLink]="['userprofile']">
      <nav style="color:white"> User Profile </nav>
    </a>
    <a [routerLink]="['AboutUS']">
      <nav style="color:white">AboutUS</nav>
    </a><a [routerLink]="['Jobs']">
      <nav style="color:white">Jobs</nav>
    </a>
    <a [routerLink]="['Clients']">
      <nav style="color:white">Clients</nav>
    </a>
    <a [routerLink]="['Employers']">
      <nav style="color:white">Employers</nav>
    </a>
    <a [routerLink]="['ContactUS']">
      <nav style="color:white">ContactUS</nav>
    </a>
  </div>
</div>


